$grey: #a3adb5;
$white: #ffffff;
$black: #000;
$divider: rgb(230, 230, 230);
$transparent: rgba(255, 255, 255, 0);
$lightBlue: #47c5ff;
$lightRed: #ff7b7b;
$lightYellow: #ffc85e;
$mediumBlue: #5b81ed;
$lightGreen: #1aebb7;
$lightGrey: #717f8a;
$green: #1fe5b4;
$purple: #5b81ed;
$red: #ff7b7b;
$mediumGrey: #717f8a;
$border: #f1f1f1;
$primary: #2c3e4c;
$limeGreen: #1aebb7;
$bluePrimary: #366589;
$button: #3c4858;
$danger: #ff7b7b;
$primaryGray: #f4f6f8;
$lightGreen: #ddfcf4;
$lightYellow: #fff7e7;
$lightRed: #ffebec;
$blue: #336184;
$Tarawera: #083a54;
$Java: #0ebbb2;
$hover: #ebeaea;
$inputBackground: rgb(248, 247, 247);
$cornflowerblue: cornflowerblue;
$tomato: tomato;
$QuestionDescription: rgb(41, 41, 41);
$linkColor: #3b49df;
$userProfile: #f1f1f1;
$background: #f9f9ff;
