@use "../assets/colors/colors.scss" as colors;
.field {
  border: none;
  color: colors.$lightGrey;
  background-color: colors.$transparent;
  margin-left: 0.5vw;
}

.input__wrap {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vw 0 1vw;
  border-radius: 20px;
  margin-left: 2vw;
  background-color: colors.$inputBackground;
}

.field:focus {
  outline: none;
}
@media screen and (max-width: 480px) {
  .input__wrap {
    display: none;
  }
}
