@use "../assets/colors/colors.scss" as colors;

.tag__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  cursor: pointer;
}
.tag__item:hover {
  background-color: colors.$border;
}
.icon {
  cursor: pointer;
  padding: 12px;
  color: lightgray;
}
.icon:hover {
  color: black;
}
