.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1vw;
  padding: 12px;
}
.sub__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
}
.user__detail {
  display: flex;
  flex-direction: column;
}
.description {
  font-size: 1rem;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: wrap;
  line-height: 24px;
  opacity: 0.7;
}
.button {
  text-decoration: none;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 99em;
  padding: 4px 12px 6px;
  background-color: transparent;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(240, 240, 240);
}
